.chat-footer{
    background-color: #f0f0f0;
    padding: 15px;
    display: flex;
    border-top: 1px solid lightgrey;
    justify-content: space-between;
}


.chat-footer form{
    display: flex;
    flex: 1;
}

.chat-footer input{
    outline-width: 0;
    border: none;
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 14px;
    margin: 0 10px;
}

.submit-button{
    display: none;
}