.chat-bubble{
    max-width: 200px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.chat-bubble-main{
    background-color:#DCF8C6;
    border-radius: 13px;
    padding: 8px;
}

.chat-bubble-date{
    font-size: 12px;
    max-width: 30px;
    color: gray;
    justify-self: flex-end;
    align-self: flex-end;
}

.chat-bubble-name{
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}